<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <title>Hello from GB/Ansible!</title>
  </head>
  <body bgcolor="#fa8e47"}>
  <CENTER>  
    <h1>HELLO FROM GB/Ansible Labs! & {{ ansible_nodename }} </h1>
    <p>NGINX IS WORKING</p>
    <img src="GB.png" border=”25px” vspace=”150px”>
    <img src="ANS.png" border=”25px” vspace=”1150px”>
  </body>
</html>
